.chat {
    flex: 0.75;
    background: #0d1117;
    display: flex;
    position: relative;
    flex-direction: column;
}

.chat__input {
    color: #c9d1d9d2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 7px;
    margin: 20px;
    border-top: 2px solid #0c0d0f;
    background-color: #0c0d0faf;
}

.chat__input  .MuiSvgIcon-root {
    cursor: pointer;
    color: #c9d1d9a1;
}

.chat__input  .MuiSvgIcon-root:hover {
    color: white;
}

.reactGiphySearchbox-componentWrapper, .emoji-picker-react {
    position: absolute !important;
    bottom:  5.5em;
    right: 2em;
}
.emoji-picker-react {
    box-shadow: none !important;
}

.emoji-picker-react {
    background: #161B22 !important;
    border-color: #161B22 !important;
}

.emoji-picker-react .emoji-group:before {
    background: #161B22 !important;
}

.emoji-categories {
    display: none !important;
}

.emoji-search {
    margin-top: 10px;
    background: #0C0D0F;
    border: none !important;
}
.skin-tones-list {
    margin-top: 10px  !important;
}

.reactGiphySearchbox-poweredByGiphy {
    padding-top: 0px !important;
}

.reactGiphySearchbox-poweredByGiphy > svg {
    height: 7px;
}

.reactGiphySearchbox-listWrapper {
    background: black !important;
}

.chat__input > form > input {
    padding: 15px;
    background: transparent;
    border: none;
    outline-width: 0;
    color: white;
    width: 95%;
    font-size: large;
}

.chat__input > form {
    flex: 1;
}

.chat__sendMessage {
    display: none;
}

.chat__inputIcons > .MuiSvgIcon-root {
    padding: 5px;
}

.chat__messages {
    height: 73.8vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.chat__messages > div:last-child {
    scroll-snap-align: end;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background:#161B22;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #0d1016;
    border-radius: 20px;
    border: 3px solid #161B22;
}  

::-webkit-scrollbar-thumb:hover {
    background: rgb(8, 8, 15);
}