.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    height: 100vh;
    background-color: #161B22;
}

.sidebar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    border-bottom: 2px solid  #0d111783;
}

.sidebar__channels {
    flex: 1;
}

.sidebar__icon {
    cursor: pointer;
    color: #c9d1d9d2;
}

.sidebar__icon:hover {
    color: white;
}

.sidebar__channelsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #c9d1d9;
}

.sidebar__channelsHeader > h4{
    cursor: pointer;
}

.sidebar__channelsHeader:hover > h4{
    cursor: pointer;
    color: white;
}
.sidebar__voice {
    border-bottom: 1px solid #c9d1d90e;
}

.sidebar__voice, 
.sidebar__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #c9d1d9;
    padding: 10px;
    background: #0d111783;
}

.sidebar__voiceInfo {
    flex: 1;
    padding: 10px;
}

.sidebar__voiceIcon {
    color:  #31ec98;
}

.sidebar__voiceInfo > h3 {
    color:  #31ec98;
}

.sidebar__voiceInfo > p {
    font-size: smaller;
}

.sidebar__voiceIcons > .MuiSvgIcon-root {
    padding: 10px;
    cursor: pointer;
    color: #c9d1d9d2;
}

.sidebar__voiceIcons > .MuiSvgIcon-root {
    padding: 10px;
}

.sidebar__voiceInfoIcon:hover {
    color: rgb(255, 165, 0);
}

.sidebar__voiceDisconnect:hover {
    color: tomato;
}

.sidebar__profileInfo {
    flex: 1;
    padding: 10px;
}

.sidebar__profileInfo > h3 {
    color: white;
}

.sidebar__profileIcons > .MuiSvgIcon-root {
    padding: 10px;
    cursor: pointer;
    color: #c9d1d9d2;;
}

.sidebar__profileIcons > .MuiSvgIcon-root:hover {
    color: white;
}



