.message {
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
}

.message__info {
    margin-left: 20px;
}

.message__info > h4 {
    display: flex;
    align-items: center;
}

.message__timestamp {
    color: rgba(128, 128, 128, 0.452);
    margin-left: 20px;
    font-size: xx-small;
}